
.header {
  background: var(--color-background-header);
  // background: transparent;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header-transparent {
  // background: var(--color-background-header);
  background: transparent;
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.containers {
  width: 1280px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 292px;

}

.row {
  width: 1280px;
  height: 100px;
  margin: 0 -15px;
  display: flex;
  align-items: center;

}
