:root {
    --color-background-header: #FFFAF0;
    --color-text-headerbtn: violet;
    --color-text: #fff
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Mulish', sans-serif;
}